@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before, .slick-next:before {
  font-size: 50px !important;
  line-height: 0px !important;
  font-family: 'Courier New', Courier, monospace;
  color: black !important;
  /* background: white !important; */
}

.slick-slider {
  padding: 20px !important;
}